<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% flash.each do |key, message| %>
      <%= content_tag :div, message, class: "alert alert-#{key}" %>
      <% end %>
    </div>
  </div>
</div>