<footer>
  <div class="footer navbar-fixed-bottom voll white">
    <div class="row">
      <div class="col-md-1 col-md-offset-11">
        <%= link_to 'Homepage', root_path %>
      </div>
    </div>
  </div>
</footer>