<nav class="navbar navbar-default mycolor">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hvr-fade" href="/">Hot Rox</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="hvr-fade"><%= link_to 'Trips', trips_path %></li>
        <li class="hvr-fade"><%= link_to 'Plan a trip', new_trip_path %></li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        
          <li>
             
              <a href="/users/<%= current_user.id %>" style="padding: 0px;"><img class="media-object" src="<%= gravatar_image_url(current_user.email, size: 50) %>" width="50" height="50" style="border-radius: 100%;"></a>
            
          </li>
          <li class="hvr-fade"><%= link_to 'My trips', my_trips_path(@user) %></li>
          <li class="hvr-fade"><%= link_to 'Log out', destroy_user_session_path, method: 'DELETE' %></li>
          <% else %>
          <li class="hvr-fade"><%= link_to 'Log in', new_user_session_path %></li>
        </ul>
        <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>