<!DOCTYPE html>
<html>
  <head>
    <title>Hot Rox</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Vollkorn">
    <link rel="icon" type="image/jpg" href="http://www.summitbsa.org/wp-content/uploads/2013/01/GBGW-activities_facebook_profile-pic_climbing.jpg">
    <meta content="width=device-width, initial-scale=1" name="viewport">
  </head>
  <body>
  <% if current_user.present? %>
    <%= render "layouts/navbar" %>
    <%= render "layouts/flash_messages" %>
    
    <%= render "layouts/background_items" %>
    <% end %>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=#{GOOGLEMAPS}"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>