<div class="border-form-div voll fadeIn fadeIn-1s">
<h2 class="form-signin-heading white">Sign up</h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :name, class: "white" %><br />
    <%= f.text_field :name, autofocus: true, class: "inputs form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "white" %><br />
    <%= f.email_field :email, autofocus: true, class: "inputs form-control" %>
  </div>

  <div class="form-group white">
    <%= f.label :password, class: "white" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "black inputs form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: "white" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "inputs form-control" %>
  </div>
  <br />

  <div class="actions">
    <%= f.submit "Save!", class: "btn btn-primary btn-color" %>
  </div>
<% end %>


</div>
