<div class="jumbotron" id="profile">
  
        <img class="media-object" src="<%= gravatar_image_url(@user.email, size:80) %>" width="80" height="80">
        <br/>
        <h3><%= @user.name %></h3>
        <br/>
        <h5>About me: <p><%= @user.bio %></p></h5>
        <br/>
        <h5>Climbing grade: <p><%= @user.climbing_grade %></p></h5>
        <br/>
        <h5>Favourite spots: <p><%= @user.favourite_spots %></p></h5>
        <br/>
        <h5>Climbing style: <p><%= @user.climbing_style %></p></h5>
        <br/>
        <h5>Email: <p><%= @user.email %></p></h5>
        <br/>
        
        
        <a class="btn btn-primary btn-md hvr-bounce-in" href="#" data-toggle="modal" data-target="#editModal" role="button">Edit my profile</a>
        
</div>

<%= render "/users/edit_user" %>

     