<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Trips I've planned</div>
      <div class="panel-body">
      <% if current_user.trips.empty? && current_user.lifts.empty? %>
      <h4>You haven't planned any trips yet!</h4>
          <a class="btn btn-primary btn-sm hvr-bounce-in" href="/trips/new" role="button">Plan your own trip</a>
          <% else %>
        <% current_user.trips.each do |trip| %>
        <ul>
          <li style="list-style-type: none;"><%= link_to trip.title, trip_path(trip), class: "black-my-trips" %></li>
          <br/>
          <li style="list-style-type: none;">Passengers on this trip: <span class="badge my-trips"><%= trip.passengers.count %></span></li>
        </ul>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>

<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">Trips I've joined</div>
    <div class="panel-body">
    <% if current_user.lifts.empty? %>
    <h4>You haven't joined a trip</h4>
    <a class="btn btn-primary btn-sm hvr-bounce-in" href="/trips" role="button">Find me a trip!</a>
    <% else %>
      <% current_user.lifts.each do |lift| %>
      <ul>
        <li style="list-style-type: none;"><%= link_to lift.title, trip_path(lift) %></li>
        <a href="/users/<%= lift.driver.id%>">
          <img class="media-object" src="<%= gravatar_image_url(lift.driver.email, size:50) %>" width="50" height="50">
        </a>The trip organiser
      </ul>
      <% end %>
      <% end %>
    </div>
  </div>
  </div>
</div>