<li style="list-style-type: none">
<a href="/users/<%= registration.passenger.id%>">
          <img class="media-object" src="<%= gravatar_image_url(registration.passenger.email, size:50) %>" width="50" height="50">
        </a>
  
  Status: <span><%= registration.status %></span>
  <a href="javascript:void(0)" class="btn btn-default btn-xs btn-decline pull-right btn-click" data-confirm="Are you sure?" data-registration-id="<%= registration.id %>">
    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
  </a>
  <a href="javascript:void(0)" class="btn btn-default btn-xs btn-accept pull-right btn-click" data-confirm="Are you sure?"data-registration-id="<%= registration.id %>">
    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
  </a>
  
</li>
<br/>