
  <div class="col-xs-2 col-md-2">
    <a href="<%= user_path(registration.passenger) %>" class="thumbnail">
      <img src="<%= gravatar_image_url(registration.passenger.email, size:50) %>" width="50" height="50"/>
    </a>
  </div>
