    <div class="col-md-6 col-xs-6">
      
        <h2>Plan your trip</h2>
        <%= form_for [@user, @trip] do |f| %>
        <div class="form-group">
          <%= f.label :title %><br />
          <%= f.text_field :title, class: " form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :description %><br />
          <%= f.text_area :description, class: " form-control" %>
        </div>
        <br/>

        <div class="form-group">
          <label>Search for your trip starting point below or just click on the map</label>
          <input id="address" type="text" class="inputs form-control" placeholder="Where is your trip starting?" style="width:220px;">
          <br/>
  
          <button class="btn btn-primary btn-sm" id="submit" type="submit">Search</button>
        </div>
        <input type="hidden" name="trip[latitude]" id="latitude">
        <input type="hidden" name="trip[longitude]" id="longitude">
        <br/>

        <!-- <div class="field">
          <h4>Click on the map to choose the trip destination</h4>
        </div>
        <input type="hidden" name="trip[destination_lat]" id="lat">
        <input type="hidden" name="trip[destination_lon]" id="lon">
        <br/> -->
        

        <div class="form-group">
          <%= f.label :departure_date %><br />
          <%= f.date_field :departure, class: " form-control" %>
        </div>
        <br/>
        
        <div class="actions">
          <%= f.submit "Save my trip!", class: "btn btn-primary" %>
        </div>
        <% end %>
      
    </div> 
    <div class="jumbotron">
  <div class="container">
    <div id="new-trip-map" class="col-md-6 col-xs-6"></div>
    
  </div>
</div>  

<script>
  $(function () {
    google.maps.event.addDomListener(window, 'load', createTripInitializeMap);
  })
</script>
      

