<div class="col-md-6 col-xs-6">
  <div class="panel panel-primary">
  <div class="panel-heading"><%= @trip.title %></div>
  <div class="panel-body">
    <p><%= @trip.description %></p>
    <p><%= @trip.departure.strftime("%a %b #{@trip.departure.day.ordinalize}") %></p>
    <% if @trip.passengers.blank? %>
    <p>No passengers on this trip yet!</p>
    <% end %>
    
    <% if current_user.id == @trip.driver.id %>
    <ul>
      <% @trip_registrations.each do |registration| %>
      <%= render "trips/trip_user_item", registration: registration %>
      <% end %>
    </ul>

    <%= link_to 'Delete trip', trip_path(@trip), method: 'Delete', class: "btn btn-primary btn-sm btn-color", data: { confirm: "Are you sure?" } %>

    <% else %>
    
      <% @trip.regs[:accepted].each do |registration| %>
      <%= render "trips/trip_passenger_item", registration: registration %>
      <% end %>

      <% if !current_user.on_trip?(@trip) %>
      <%= link_to 'Join trip', trip_trip_registrations_path(@trip), method: 'Post', class: "btn btn-primary btn-sm", style: "margin-left: 10px;", data: { confirm: "Are you sure?" } %>

      <% elsif %>
      <% current_user.trip_status(@trip) == ("pending") %>
      <h5>Your current request for this trip is pending. </h5>
      <% end %>
    
    <% end %>
  </div>
</div>

    
  
</div>
<div class="col-md-6 col-xs-6">
<div class="panel panel-default">
  <div class="panel-body">
  <div id="trip-map-container"></div>
</div>
  </div>
</div>
<script>$(document).ready(loadMap('trip-map-container'));</script>