#backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.landing {
  display: inline-block;
  margin-top: 100px;
}
#jumbotron {
  background-color: transparent;
  height: 100%;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font-family: Vollkorn;
  color: white;
}


.cb-slideshow li {
  list-style-type: none;
}
.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1; 
}
.cb-slideshow:after { 
    content: '';
    background: transparent url("") repeat top left; 
    
}
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    -webkit-background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-animation: imageAnimation 108s linear infinite 0s; 
}
.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    -webkit-animation: titleAnimation 108s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px; 
}
.cb-slideshow li:nth-child(1) span { 
    background-image: url("montserrat_ii_by_geckokid-d4r7sz0.jpg");
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url("Honnold-topout.jpg");
    -webkit-animation-delay: 18s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url("indiancreek.jpg");
    -webkit-animation-delay: 36s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url("1.jpg");
    -webkit-animation-delay: 54s;
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url("maxresdefault.jpg");
    -webkit-animation-delay: 72s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url("indiancreek.jpg");
    -webkit-animation-delay: 90s; 
}

@-webkit-keyframes imageAnimation { 
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; }
    4% { opacity: 1; -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
  opacity: 1;
}
@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
}
