// Place all the styles related to the TripRegistrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-decline {
  height: 20px;
  width:22px;
  border-radius: 5px;
  color: #ddd;
  text-decoration:none;
  background: #D05944;
  background: -webkit-gradient(linear, left top, left bottom, from(#D05944), to(#000));
  background: -moz-linear-gradient(top, #D05944, #000);
  background: -o-linear-gradient(top, #D05944, #000);
  background: linear-gradient(top, #D05944, #000);
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.btn-accept {
  height: 20px;
  width:22px;
  border-radius: 5px;
  margin-right: 4px;
  color: #ddd;
  text-decoration:none;
  background: #8FCF45;
  background: -webkit-gradient(linear, left top, left bottom, from(#8FCF45), to(#000));
  background: -moz-linear-gradient(top, #8FCF45, #000);
  background: -o-linear-gradient(top, #8FCF45, #000);
  background: linear-gradient(top, #8FCF45, #000);
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}