<div class="jumbotron" id="jumbotron" style="margin-top: 20px;">
  <h1 id="backdrop" style="border-top: solid black 1px; margin-bottom: 0px; padding-top: 30px;">Hot Rox</h1>
  <h2 id="backdrop" style="border-bottom: solid black 1px; margin-top: 0px; padding-bottom: 30px;">The perfect place to find a trip to the best climbing spots in Spain!</h2>
  
  <ul class="cb-slideshow">
    <li>
      <span></span>
      
    </li>
    <li>
      <span></span>
      
    </li>
    <li>
      <span></span>
      
    </li>
    <li>
      <span></span>
      
    </li>
    <li>
      <span></span>
      
    </li>
    <li>
      <span></span>
      
    </li>
  </ul>
  <div class="container landing">
    <a class="btn btn-primary btn-lg hvr-bounce-in" style="margin-right: 10px;" href="#" data-toggle="modal" data-target="#loginModal" role="button">Log in</a>
    <a class="btn btn-primary btn-lg hvr-bounce-in" style="margin-left: 10px;" href="#" data-toggle="modal" data-target="#signupModal" role="button">Sign up</a>
  </div>
</div>

<%= render "landing/login" %>

<%= render "landing/signup" %>
