var loadMap = function(containerId, centre){
  if(!containerId) containerId = 'trip-list-map';
  if(!centre) centre = [41.3917782, 2.1772809999999936];

  var Hydda = L.tileLayer('http://{s}.tile.openstreetmap.se/hydda/roads_and_labels/{z}/{x}/{y}.png', {
    attribution: 'Tiles courtesy of <a href="http://openstreetmap.se/" target="_blank">OpenStreetMap Sweden</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  });
 
  var mapBox = L.tileLayer('https://api.tiles.mapbox.com/v4/kevprice83.11e32e81/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoia2V2cHJpY2U4MyIsImEiOiJkZThlZmY3ZDYzZjczMDU4Y2QyYWY4ODQ2YTdlNzRiZiJ9.K67HwEzHeBwJx2z3lOrIyA', {
       maxZoom: 18
   });


  var map = L.map(containerId, {
    center: centre,
    zoom: 13,
    layers: [mapBox, Hydda]
  });
  
  function handleSuccess(trips) {
    var allMarkers = [];
    trips.forEach(function(data) { 
      allMarkers.push([data.latitude, data.longitude]);
      var marker = L.marker([data.latitude, data.longitude]).addTo(map);
      var momentDate = moment(data.departure).format("MMM, Do")
      marker.bindPopup('<a href="/trips/' + data.id + '">' + data.title + '</a><br/><p>Leaving on: ' + momentDate + '</p>');
    });
  }

  function handleError(error) { 
  }

  if(containerId == 'trip-list-map') {
    $.ajax({
      url: "/api/trips",
      type: 'get',
      success: handleSuccess,
      error: handleError,
      datatype: "json"
    });
  }   else if(containerId === 'trip-map-container') {
    L.marker(centre).addTo(map);
      }
};